<div class="footer">
    <a class="footer-odin" href="https://www.theodinproject.com/lessons/nodejs-file-uploader">
        <img class="odin-icon" src="/images/the-odin-project.svg" alt="The Odin Project Icon"></img>
        <div class="footer-text">
            <p>File Uploader</p>
            <p>From The Odin Project</p>
        </div>
    </a>
    <div class="footer-links">
        <a href='https://github.com/daltonoswald/file-uploader' class="footer-github">
            <img class="icon" src="/images/github-original.svg" alt="github icon" />
        </a>
        <a href='https://linkedin.com/in/dalton-oswald-8aa955148' class="footer-linkedin">
            <img class="icon" src="/images/linkedin-plain.svg" alt="linkedin icon" />
        </a>
    </div>
</div>