<div class="nav">
    <div class="left">
        <!-- <a href="/" class="nav-link">Home</a> -->
         <p>File Uploader</p>
        <a href="/dashboard" class="nav-link">Dashboard</a>
        <% if (typeof user !== 'undefined') { %>
    </div>
    <div class="right">
        <p> <%= user.username %></p>
        <a href="/users/logout" class="nav-link">Logout</a>
    </div>
    <% } else { %>
    </div>
        <div class="right">
            <a href="/users/log-in" class="nav-link">Log in</a>
            <a href="/users/sign-up" class="nav-link">Sign up</a>
        </div>
        <% } %>
</div>