<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/styles.css' />
    </head>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="main">
            <h1><%= title %></h1>
            <a href="/folders/delete-folder/<%=folder.id %>" class="button">Delete</a>
        </div>
    </body>
</html>