<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <link rel='stylesheet' href='/stylesheets/styles.css' />
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="main">
        <div class="log-in-hero">
            <h1 class="log-in-title"><%- title %></h1>
            <form action="/users/log-in" method="POST" class="log-in-form">
                <div class="label-input">
                    <label for="username">Username</label>
                    <input  name="username"
                            placeholder="Username"
                            type="text" />    
                </div>
                <div class="label-input">
                    <label for="password">Password</label>
                    <input  name="password"
                            type="password" />
                </div>
                <div class="log-in-button">
                    <button class="button">Log in</button>
                </div>
            </form>
            <% if (message) { %>
                <div class="error-message"><%-message%></div>
            <% } %>
        </div>
    </div>
</body>
</html>