<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <link rel='stylesheet' href='/stylesheets/styles.css' />
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="main">
        <div class="sign-up-hero">
            <h1><%- title %></h1>
            <form action="/users/sign-up" method="POST" class="sign-up-form">
                <div class="label-input">
                    <label for="name">Name</label>
                    <input  type="text"
                            name="name"
                            placeholder="Name" />
                </div>
                <div class="label-input">
                    <label for="username">Username</label>
                    <input  type="text"
                            name="username"
                            placeholder="Username" />
                </div>
                <div class="label-input">
                    <label for="password">Password</label>
                    <input  type="password"
                            name="password"
                            minlength="8" />
                </div>
                <div class="label-input">
                    <label  for="confirm_password">Confirm Password</label>
                    <input  type="password"
                            name="confirm_password"
                            minlength="8" />
                </div class="label-input">
                <div class="sign-up-button">
                    <button class="button">Sign up</button>
                </div>
            </form>
            <% if (message) { %>
                <div class="error-message">
                    <p><%- message %></p>
                </div>
            <% } %>
        </div>
    </div>
</body>
</html>